.message-list-container {
  position: absolute;
  bottom: 80px;
  width: calc(100% - var(--side-nav-width));
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.message-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-row-item {
  margin: 10px;
  background-color: #0084ff;
  color: #fff;
}
.message-body {
  max-width: 600px;
  border-radius: 15px;
  padding: 15px;
}
