.inbox-item {
  width: 100%;
}

.inbox-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 5px;
  border-radius: 10px;
}

.inbox-item .active {
  background-color: #e4e6eb;
}

.time {
  color: rgb(92, 92, 92);
  font-size: x-small;
}

.avatar {
  border: 1px solid rgb(196, 196, 196);
}
