.bottom-bar {
  position: fixed;
  bottom: 0;
  width: calc(100% - var(--side-nav-width) - 20px);

  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.2);
}

.bottom-bar-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  max-width: 1600px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #f3f3f3;
  border-radius: 15px;
}

input[type="text"]:focus {
  outline: none;
}
